/* Notiz Unten */
/* latin-ext */
@font-face {
    font-family: 'side-note_ext';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/side-note_ext);
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'side-note';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/side-note);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*DIGITAL CLOCK*/
@font-face{
    font-family: 'clock';
    src: url(fonts/digital.ttf);
}
/*=====================================*/

body{
    background-color: black;
}

#cd{
    font-family: 'clock';
    font-size: 1000%;
    color:white;
    text-align: center;
    margin-top:10%;
}

img{
    margin-bottom:50%;
}

#side-note{
    font-family: 'side-note_ext', 'side-note';
    color:white;
    visibility: hidden;
    text-align: right;
}

/* When the Timer has run out */
#animate{
    -webkit-animation-name: animate; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation: animate 4s infinite;
    font-family: 'side-note_ext', 'side-note';
    font-size: 500%;
    text-align: center;
    color: red;
    text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
    margin-top:20%;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animate {
    0% {color: red; margin-left: 0%;}
    16% {color: orange;}
    25% {margin-left: 10%;}
    32% {color: yellow;}
    48% {color: green;}
    50% {margin-left: 10%;}
    64% {color: blue;}
    75% {margin-left: 0%;}
    80% {color: purple;}
    96% {color: violet;}
    100% {color: red; margin-left: 0%;}
}

/* Standard syntax */
@keyframes animate {
    0% {color: red; margin-left: 0%;}
    16% {color: orange;}
    25% {margin-left: 10%;}
    32% {color: yellow;}
    48% {color: green;}
    50% {margin-left: 10%;}
    64% {color: blue;}
    75% {margin-left: 0%;}
    80% {color: purple;}
    96% {color: violet;}
    100% {color: red; margin-left: 0%;}
}